language: java
jdk: oraclejdk8

# Cache gradle dependencies (should be faster to download them from cache)
cache:
  directories:
    - $HOME/.gradle/wrapper
    - $HOME/.gradle/caches/modules-2/files-2.1

before_install:
  - chmod +x gradlew

# Default gradle task will be run automatically on build, no need to define it

before_deploy:
  - ./gradlew html:dist
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  local_dir: ./html/build/dist/
  on:
    branch: production
